<div class="text-center">
    <h1 class="display-4">The Board</h1>
</div>

    <div class="grid-container">
        <div class="grid-item">
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item">
            <img class="img-center" height="400" width="250" src=""/>
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item">
            <img class="img-center" height="400" width="250" src=""/>
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item">
        </div>
        <div class="grid-item">
        </div>
    </div>
