<div class="text-center">
    <h1 class="display-4">The Board</h1>
</div>

    <div class="grid-container">
      <div class="grid-item" class="align-content-md-center">King</div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
      <div class="grid-item"></div>
    </div>
