@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beat The Cube!!</h1>
    <button>
      <a asp-controller="Home" asp-action="board" method="post">Play</a> 
    </button>
</div>
