@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beat The Cube!!</h1>
    <button>
      <a asp-controller="Home" asp-action="board" method="post">Play</a> 
    </button>
</div>
<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/English_pattern_king_of_hearts.svg/1200px-English_pattern_king_of_hearts.svg.png" alt="King of Hearts">
