@{
    ViewData["Title"] = "How to play";
}
<h1>@ViewData["Title"]</h1>

<p>The Player is presented with a Board. The Board consists of a 3x3 grid of cards placed face up.
    <br />
    On each turn the player will click on one of the cards highlighting it. Then using the buttons below the board choose whether the next card in the deck will be higher, lower, or the same as the highlighted card.
    <br />
    If guessed correctly the highlighted card is replaced by the next card in the deck and play continues.
    If incorrect the highlighted card is place upsided down and that position on the board is no longer playable, play continues.
    <br />
    ACES ARE HIGH.
    <br />
    The object of the game is to get through the entire deck with at least one of the positions on the board remaining open.</p>

